.theme-dark {
    /* regular colors */
    --c-bg: #151715;
    --c-sur: #1c1f1c;
    --c-mid: #313731;
    --c-txt: #e9f2ea;
    --c-sec: #bbbbbb;
    --c-acc: #37916b;

    /* feedback colors */
    --c-fb-suc: #03dac6;
    --c-fb-wrn: #cf6679;
    --c-fb-err: #cf6679;
}

.theme-light {
    /* regular colors */
    --c-bg: #ffffff;
    --c-sur: #f5f5f5;
    --c-mid: #e0e0e0;
    --c-txt: #000000;
    --c-acc: #37916b;

    /* feedback colors */
    --c-fb-suc: #018786;
    --c-fb-wrn: #c1600b;
    --c-fb-err: #b00020;
}