.theme-dark {
    /* regular colors */
    --c-bg: #121412;
    --c-sur: #222622;
    --c-pop: #2E332E;
    --c-mid: #414941;
    --c-off: #657565;
    --c-txt: #e9f2ea;
    --c-sec: #bbbbbb;
    --c-acc: #37916b;

    /* feedback colors */
    --c-fb-suc: #03dac6;
    --c-fb-wrn: #cf6679;
    --c-fb-err: #cf6679;
}

.theme-light {
    /* regular colors */
    --c-bg: #ffffff;
    --c-sur: #f5f5f5;
    --c-pop: #ebebeb;
    --c-mid: #e0e0e0;
    --c-off: #c6c6c6;
    --c-txt: #000000;
    --c-acc: #37916b;

    /* feedback colors */
    --c-fb-suc: #018786;
    --c-fb-wrn: #c1600b;
    --c-fb-err: #b00020;
}